[user]
	name = Sean Lynch
	email = techniq35@gmail.com

[core]
    editor = subl
	excludesfile = ~/.gitignore
	autocrlf = input
    # whitespace = cr-at-eol

[branch]
    # http://stevenharman.net/git-pull-with-automatic-rebase
	autosetuprebase = always

[push]
    # http://pivotallabs.com/users/alex/blog/articles/883-git-config-push-default-matching
	default = matching

[color]
	ui = true

[alias]
    st = status -sb
    co = checkout
    d = diff
    dc = diff --cached
    dn = diff --name-status

	l = log
	lg = log --graph
    lga = !git lg --all
    lgs = !git lga --stat
    lgp = !git lga -p
    in = !git lga ..FETCH_HEAD
    incoming = !git fetch; !git in
    # incoming = !git fetch; git lga ..@{u}
    outgoing = !git lga @{u}..

    # Shows all commits that are in any of local branches but not in any of remote tracking branches for origin (what you have that origin doesn’t).
    unpushed = !git lga --branches --not --remotes=origin

    w = whatchanged --graph --abbrev-commit --date=relative --all
    amend = commit --amend -C HEAD
    unstage = reset HEAD
    uncommit = reset HEAD^
	ignored = ls-files -o -i --exclude-standard

    # show list of contributors in descending order by number of commits
    rank = shortlog -sn --no-merges

    # Search for a given string in all patches and print commit messages
	# example: search for any commit that adds or removes string "foobar"
	#     git searchcommits foobar
	# example: search commits for string "foobar" in directory src/lib
	#     git searchcommits foobar src/lib
	# example: search commits for "foobar", print full diff of commit with 1 line context
	#     git searchcommits foobar --pickaxe-all -U1 src/lib
	searchcommits = "!f() { query=\"$1\"; shift; git log -S\"$query\" \"$@\"; }; f \"$@\""
    

[log]
	decorate = true

[format]
	pretty = %C(yellow)%h%C(reset)%C(red)%d%C(reset) %s %C(bold blue)<%an> %C(green)(%cr)%C(reset)  

[merge]
	tool = gvimdiff

[mergetool "gvimdiff"]
	path = /usr/local/bin/mvimdiff

[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[diff]
	tool = gvimdiff

[difftool "gvimdiff"]
	path = /usr/local/bin/mvimdiff

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
